Different close_notify behaviour in DTLS 1.2 and DTLS 1.3

The draft is written to align with (D)TLS 1.3 behaviour. DTLS 1.2 do however have a different behaviour. DTLS 1.2 will soon be obsolete but likely needs to be supported short-time.

Section 6.1 of RFC 8446 explains the differences:

```
   Each party MUST send a "close_notify" alert before closing its write
   side of the connection, unless it has already sent some error alert.
   This does not have any effect on its read side of the connection.
   Note that this is a change from versions of TLS prior to TLS 1.3 in
   which implementations were required to react to a "close_notify" by
   discarding pending writes and sending an immediate "close_notify"
   alert of their own.  That previous requirement could cause truncation
   in the read side.  Both parties need not wait to receive a
   "close_notify" alert before closing their read side of the
   connection, though doing so would introduce the possibility of
   truncation.
```


I can think of two likely reasonable solutions to this issue.

A) Require DTLS 1.3 as that avoids the issue with the DTLS 1.2 Close Notify alert behavior. It also avoids version related negotiation issues at this stage of the protocol but they can resurface with a DTLS 1.4. Also it requires DTLS 1.3 stack immediately.

B) We define a DTLS/SCTP message and registers a PPID for it and identify it that way. Thus the initiating party tells the peer that it want to close and have stopped incoming and have drained its queue. When peer process this message on DTLS/SCTP layer it will close for more incoming data and drain its buffer. When that is accomplished it sends the close_alert that is then echoed back by the original requesting endpoint. 

So lets consider the impact of the options and make a recommendation to the WG. 